<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Easy</key>
	<array>
		<string>Ten</string>
		<string>Car</string>
		<string>Jab</string>
		<string>Rat</string>
		<string>Leg</string>
		<string>Ham</string>
		<string>Hit</string>
		<string>Hot</string>
		<string>Hut</string>
		<string>Map</string>
		<string>Put</string>
		<string>Pop</string>
		<string>Log</string>
		<string>Run</string>
		<string>Sum</string>
		<string>Pan</string>
		<string>Bat</string>
		<string>Arm</string>
		<string>Fox</string>
		<string>End</string>
		<string>Lie</string>
		<string>Pun</string>
		<string>Win</string>
		<string>Art</string>
		<string>Fun</string>
		<string>Me</string>
		<string>Eat</string>
		<string>Dog</string>
		<string>Cat</string>
		<string>Sun</string>
	</array>
	<key>Medium</key>
	<array>
		<string>Bird</string>
		<string>Seal</string>
		<string>Lion</string>
		<string>Bear</string>
		<string>Peach</string>
		<string>Pear</string>
		<string>Apple</string>
		<string>Burn</string>
		<string>Pill</string>
		<string>Shirt</string>
		<string>Pants</string>
		<string>Train</string>
		<string>Foot</string>
		<string>Neck</string>
		<string>Head</string>
		<string>Back</string>
		<string>Part</string>
		<string>Jail</string>
		<string>Plant</string>
		<string>Start</string>
		<string>Fall</string>
		<string>Punch</string>
		<string>Lose</string>
		<string>Smart</string>
		<string>Slow</string>
		<string>Fast</string>
		<string>Love</string>
		<string>Bird</string>
	</array>
	<key>Hard</key>
	<array>
		<string>Backwards</string>
		<string>Forlorn</string>
		<string>Tomorrow</string>
		<string>Yesterday</string>
		<string>Surgery</string>
		<string>Mechanical</string>
		<string>Mathematics</string>
		<string>Astronomy</string>
		<string>Statistic</string>
		<string>Inference</string>
		<string>Conclusion</string>
		<string>Practical</string>
		<string>Erroneous</string>
		<string>Fallacy</string>
		<string>Mendacious</string>
		<string>Fallacious</string>
		<string>Silicon</string>
		<string>Surprising</string>
		<string>Tentacle</string>
		<string>Consciousness</string>
		<string>Collective</string>
		<string>Untenable</string>
		<string>Tenacious</string>
		<string>Intrepid</string>
		<string>Watchful</string>
		<string>Fanatic</string>
		<string>Fierce</string>
		<string>Ferocious</string>
		<string>Funny</string>
		<string>Biology</string>
		<string>Neurology</string>
		<string>Insinuation</string>
		<string>Implication</string>
		<string>Practice</string>
		<string>Spring</string>
		<string>Autumn</string>
		<string>Winter</string>
		<string>Spring</string>
		<string>Summer</string>
		<string>Sensation</string>
	</array>
</dict>
</plist>
